section {
    height: 761px;
    background-image: url('../img/coffee_image.png');
    background-size: cover;
    display: flex;
    align-items: center;
}

.section_content {
    margin-left: 90px;
    cursor: pointer;
}

    .section_content h3 {
        font-size: 45px;
        font-weight: 500;
    }

    .section_content h2 {
        font-size: 50px;
        font-weight: bold;
    }
